# Dev
NEXT_PUBLIC_AUTH_URL = http://localhost:8080
NEXT_PUBLIC_ASSET_URL = http://localhost:8082
NEXT_PUBLIC_PUPPYLOVE_URL = http://localhost:8084

# # Test
# NEXT_PUBLIC_AUTH_URL = https://bsearch.pclub.in/auth
# NEXT_PUBLIC_ASSET_URL = https://bsearch.pclub.in/assets
# NEXT_PUBLIC_PUPPYLOVE_URL = http://localhost:8084

# # Prod
# NEXT_PUBLIC_AUTH_URL = https://search.pclub.in/auth
# NEXT_PUBLIC_ASSET_URL = https://search.pclub.in/assets
# NEXT_PUBLIC_PUPPYLOVE_URL = http://localhost:8084
# NEXT_PUBLIC_BASE_PATH = /students # only keep it in prod mode.
