# Dev
NEXT_PUBLIC_AUTH_URL = http://localhost:8080
NEXT_PUBLIC_ASSET_URL = http://localhost:8082
NEXT_PUBLIC_PUPPYLOVE_URL = http://localhost:8084
NEXT_PUBLIC_MAPS_DOMAIN = http://localhost:3001

# # Test
# NEXT_PUBLIC_AUTH_URL = https://bsearch.pclub.in/auth
# NEXT_PUBLIC_ASSET_URL = https://bsearch.pclub.in/assets
# NEXT_PUBLIC_PUPPYLOVE_URL = http://localhost:8084
# NEXT_PUBLIC_MAPS_DOMAIN = https://bsearch.pclub.in

# # Prod
# NEXT_PUBLIC_AUTH_URL = https://search.pclub.in/auth
# NEXT_PUBLIC_ASSET_URL = https://search.pclub.in/assets
# NEXT_PUBLIC_PUPPYLOVE_URL = http://localhost:8084
# NEXT_PUBLIC_MAPS_DOMAIN = https://search.pclub.in
# NEXT_PUBLIC_BASE_PATH = /students # only keep it in prod mode.
